html {
    background-color: cornsilk;
}
.img1 {
float:left;
height:50px;
width:100px;
}

.subject {
   align-content: center;
}
footer {
 line-height: 100px;
 background-color:beige;  
}
 .par {
    align-content: center; 
    color: cadetblue;
 }
 .imgs {
    display:inline;
    width:500px; 
 }
 .navi {
     
     float:right
 }
 .navi li{
    display:inline;
 }
 .navi p {
     display: inline;
 }